@font-face {
    font-family: roboto;
    src: url(../font/Roboto-Regular.ttf);
  }

 @font-face {
     font-family: robotoMed;
     src: url(../font/Roboto-Medium.ttf);
 } 
body {
    font-family: robotoMed;
    background-image: url("../img/bg-img.png");
    width: fit-content;
}

.navMargin {
    margin-top: 29px;
    margin-bottom: 26px;
    font-size: 13px;
}

html { 
    background: url(../img/bg-img.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#linkStyle {
    color: #19345E;
    font-weight: 400;
}
#linkStyle:hover {
    color: #F47522;
}

#linkStyle:visited{
    color: #F47522;
}